.some-page-wrapper {
	margin: 15px;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}
.double-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}
@media screen and (min-width: 800px) {
	.column {
		flex: 1;
	}
	.double-column {
		flex: 2;
	}
}
