  // COLORS
  $primary: #E81932;
  $primary-600: #d2152c;
  $primary-700: #a41022;
  $primary-800: #760c19;
  $primary-900: #47070f;

  $secondary: #2b3947;
  $secondary-600: #212c37;
  $secondary-700: #0e1317;